<h1>Admin::Reservations#index</h1>
<p>Find me in app/views/admin/reservations/index.html.erb</p>
<li class="navbar-link my-1 ml-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %></li>