<div class="container">
  <h4 class="title bg-light"><strong>予約履歴一覧</strong></h4>
  <div class="row">
    <div class="col">

      <table class="table table-bordered mt-2">
        <thead>
          <tr class="bg-light">
            <th>予約日付</th>
            <th>予約時間</th>
            <th>予約詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.date %></td>
            <td><%= reservation.time %></td>
            <td><%= link_to "表示する", reservation_path(reservation.id), class:"btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>