<div class="container">
  <h4 class="title"><strong>予約詳細</strong></h4>
  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>予約者</th>
            <td><%= link_to @reservation.name, admin_customers_path %></td>
          </tr>

          <tr>
            <th>予約日付</th>
            <td><%= @reservation.date.strftime("%Y/%m/%d") %></td>
          </tr>
          
          <tr>
            <th>予約時間</th>
            <td><%= @reservation.time.strftime("%H:%M") %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>