<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <h3>Stores search for "<%= @content %>"</h3>
    </div>

    <% @stores.each do |store| %>
      <div class = "col-sm-3">
        <div>
          <%= link_to store_path(store.id) do %>
            <%= image_tag store.get_image(200,100) %>
          <% end %>
        </div>
        <div>
          <p><%= store.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>