<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1 mt-5 top_image">
      <h3>
        ようこそ、宴会のみのみへ！<br>
        このサイトは、宴会出来る店舗の予約サイトになります。<br>
        会員でない方も店舗の閲覧はできますが、<br>
        予約・お気に入り登録には会員登録が必要になります。
      </h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class= "row">
        <h2 class="pt-4 mt-3 mb-4">新規店舗</h2>
      </div>
      <div class="row">
        <div class="col-md-3 d-flex flex-row">
          <% @stores.first(4).each do |store| %>
            <div class="px-2">
              <%= link_to store_path(store.id) do %>
                <%=image_tag store.get_image(200,100) %>
              <% end %>
              <p class="mx-2"><%= store.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>









    
