<div class="container">
  <h4 class="title bg-light"><strong>予約履歴一覧</strong></h4>
  <div class="row">
    <div class="col">

      <table class="table table-bordered mt-2">
        <thead>
          <tr class="bg-light">
            <th>予約者名</th>
            <th>予約詳細</th>
            <th>予約日</th>
            <th>予約時刻</th>
          </tr>
        </thead>

        <tbody>
          <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.store.name %></td>
            <td><%= reservation.date.strftime("%Y年%m月%d日") %></td>
            <td><%= reservation.time.strftime("%H:%M") %></td>
            <td>
            <td><%= link_to "表示する", store_path(reservation.store), class:"btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>