<div class="container">
  <div class="row">
    <div class="col mx-auto d-flex justify-content-center align-items-center" style="height: 500px;">
        <h4>ご予約ありがとうございます！当日お待ちしております！</h4>
    </div>
  </div>
</div>